.site {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-row-gap: 3em;
    grid-column-gap: 2em;
    align-content: center;
    grid-template-areas:
        "header p"
        "ul table"
        "video form "
        " footer .";

    font-family: arial;


    background: url(./buy-now.png) top left no-repeat;

    background-position: corner;
    margin: 2em
}

/*
.item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.item2 {
    grid-area: b;
    align-self: center;
    justify-self: center;
}

.item3 {
    grid-area: c;
    align-self: center;
    justify-self: center;
}

.item4 {
    grid-area: d;
    align-self: center;
    justify-self: center;
}

.item5 {
    grid-area: e;
    align-self: center;
    justify-self: center;
}

.item6 {
    grid-area: f;
    align-self: center;
    justify-self: center;
}


header {
    background-color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}
*/
p {

    font-size: 2em;
    font-weight: bold;
    color: #063f80;
    line-height: 2.5em
}


ul.list li {

    background-color: #ffffff;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: normal;
    color: #063f80;
    line-height: 2em
}

table {
    border: 1em solid burlywood;
    text-align: center;
}

table tr:nth-child(odd) {

    background-color: #f7f4e3
}

table tr:nth-child(even) {

    background-color: #d2e1c8
}

th {
    padding: 1em;
    text-align: center;
    margin: 2em;
    font-size: 1.5em
}

td {
    padding: 1em;
    text-align: center;
    margin: 2em;
    font-size: 1.5em
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-controls {
    font-size: 1.5em
}



footer {

    font-size: 2em
}

/*
#feature_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
*/